<div fxLayout="column" fxLayoutAlign="center center" class="margin-top">

  <img src="assets/sss.jpg" alt="SSS Logo">

  <div class="margin-top">
    <strong>You are probably asking yourself: "WTF is this"</strong>
    <br>
    <strong>To be honest we don't have any answers but here are some videos:</strong>
  </div>

  <iframe class="margin-top" width="600" height="340"
          src="https://www.youtube.com/embed?listType=playlist&list=UUB_MUgAx83W7dgjcVzBvzMQ"
          frameborder="0" allowfullscreen></iframe>

  <iframe class="margin-top" width="600" height="340"
          src="https://www.youtube.com/embed?listType=playlist&list=UUzI3_nqDwiieD9xWKNoi8Pg"
          frameborder="0" allowfullscreen></iframe>

  <iframe class="margin-top" width="600" height="340"
          src="https://www.youtube.com/embed?listType=playlist&list=UURtFnCJzX9Xj5tN7_NuiIWw"
          frameborder="0" allowfullscreen></iframe>

</div>
